.s-app {
  margin-top: 200px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .phone {
      position: relative;
      transform: translateX(104px);

      >svg {
        width: 295px;
        height: 603px;
      }

      .icon {
        position: absolute;
        animation: move 2s ease-in infinite alternate;

        &:nth-child(1) {
          top: 76px;
          left: 0;
          transform: translateY(0) translateX(-50%) scale(1.2);
          animation-delay: .5s;
        }

        &:nth-child(2) {
          bottom: 0;
          left: 0;
          transform: translateY(0) translateX(-50%) scale(1.2);
          animation-delay: 1.5s;

        }

        &:nth-child(3) {
          top: 248px;
          right: 0;
          transform: translateX(50%);
          animation: move-2 2s 2s ease-in infinite alternate;


        }
      }
    }

    .content {
      max-width: 520px;



      ul {
        margin-top: 3.2rem;

        p {
          font-family: 'Poppins';
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;

          color: var(--gray-color-700);

        }
      }

      li {
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: 20px;
        align-items: center;

        &+li {
          margin-top: 2rem;
        }
      }


    }

  }

  @include responsive(s) {
    margin-top: 100px;

    .container {
      flex-direction: column-reverse;

      gap: 64px;

      .content {

        li {
          grid-template-columns: 64px 1fr;
          gap: 8px;
        }
      }

      .phone {
        transform: translateX(0);

        >svg {
          width: 200px;
          height: auto;
        }
      }
    }

  }
}


@keyframes move {
  from {
    transform: translateY(0) translateX(-50%) scale(1.2);

  }

  to {
    transform: translateY(50px) translateX(-50%) scale(.9);
  }

}

@keyframes move-2 {
  from {
    transform: translateY(0) translateX(50%);

  }

  to {
    transform: translateY(50px) translateX(50%);
  }

}