.s-benefits {
  margin-top: 208px ;
  display: flex;

  .container {
    position: relative;
  }

  .content {
    position: relative;
    z-index: 2;

    h2 {
      max-width: 478px;
    }
  }




  .container-cards {
    margin-top: 40px;
    display: grid;
    grid-template-areas:
      "p  . ."
      "s  t ."
      "c  v v-2"
    ;
    grid-template-columns: repeat(3, 280px);
    gap: 32px;

    img {
      width: 40px;
      height: 40px;
    }

    .card {
      display: flex;
      flex-direction: column;
      background: var(--primary-color-light);
      padding: 32px 16px 24px 16px;
      border-radius: 8px;
      align-items: start;



      strong {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #4C6EF5;
        margin: 16px 0 20px;
      }

      p {
        color: var(--gray-color-900);
      }
    }
  }


  .text-display {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 400px;
    line-height: 100%;
    position: absolute;
    right: 0;
    bottom: 50%;
    z-index: 10;

    transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0) translate(10%, 30%);

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: all .4s ease;


    &:nth-child(1):hover {
      transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0) translate(20%, 50%);
    }

    &:nth-child(2) {
      pointer-events: none;
      background: linear-gradient(157.9deg, rgba(76, 110, 245, 0.4) -0.59%, rgba(30, 50, 95, 0.4) 113.51%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0) translate(20%, 50%);

    }



  }

  [data-grid="p"] {
    grid-area: p;
  }

  [data-grid="s"] {
    grid-area: s;
  }

  [data-grid="t"] {
    grid-area: t;
  }

  [data-grid="c"] {
    grid-area: c;
  }

  [data-grid="v"] {
    grid-area: v;
  }

  [data-grid="v-2"] {
    grid-area: v-2;
  }

}