$width-card: 340px;
$height-card: 0.63 * $width-card;

.s-cards {
  margin-top: 150px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {

    max-width: 51.4rem;

    ul {
      margin-top: 3.2rem;
    }

    li {
      display: grid;
      grid-template-columns: 80px 1fr;
      gap: 20px;

      &+li {
        margin-top: 2rem;
      }
    }


    h4 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

    p {
      color: var(--gray-color-600);
    }


  }

  .cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translateX(-80px);
  }

  .shadow {
    width: 422px;
    transform: translateY(40px);
    height: 20px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    animation: shadow-move 3s ease 1s infinite alternate;
  }

  .card {
    z-index: 5;
    display: block;
    width: 285px;
    height: 164px;
    border-radius: 14.3559px;


    &-one {

      background: linear-gradient(114deg, #3777F4 -4.38%, #1B2A4C 105.88%);
      border-radius: 14.3559px;
      transform: matrix(0.94, 0.35, -0.36, 0.93, 0, 0) translateY(-10px) translateX(-12px);
      animation: card-move-1 3s ease 1s infinite alternate;
    }

    &-two {
      background: linear-gradient(114deg, #3777F4 -4.38%, #1B2A4C 105.88%);
      transform: matrix(0.97, -0.23, 0.25, 0.97, 0, 0) translateX(28px);
      z-index: -1;
      animation: card-move-2 3s ease 1s infinite alternate;

    }


  }




  @include responsive(s) {

    .container {
      flex-direction: column;
      gap: 64px;

      li {
        grid-template-columns: 64px 1fr;
        gap: 8px;
      }
    }

    .cards {
      width: 80%;
    }
  }


}

@keyframes shadow-move {

  0% {
    transform: translateY(40px) scale(.9);
  }

  100% {
    transform: translateY(40px) scale(1);
  }
}

@keyframes card-move-1 {
  0% {
    transform: matrix(0.94, 0.35, -0.36, 0.93, 0, 0) translate3d(0, -40px, 0) rotate(0deg);
  }

  100% {
    transform:
      matrix(0.94, 0.35, -0.36, 0.93, 0, 0) translate3d(0, 20px, 0) rotate(-5deg);

  }
}

@keyframes card-move-2 {

  0% {
    transform: matrix(0.97, -0.23, 0.25, 0.97, 0, 0) translate3d(0, -40px, 0) rotate(0deg);
  }

  100% {
    transform: matrix(0.97, -0.23, 0.25, 0.97, 0, 0) translate3d(0, 20px, 0) rotate(5deg);
  }
}