$width-card: 340px;
$height-card: 0.63 * $width-card;

.s-cards {
  margin-top: 150px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {

    max-width: 51.4rem;

    ul {
      margin-top: 3.2rem;
    }

    li {
      display: grid;
      grid-template-columns: 80px 1fr;
      gap: 20px;

      &+li {
        margin-top: 2rem;
      }
    }


    h4 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

      p {
        color: var(--gray-color-700);
      }


  }

  .cards {
    max-width: 503px;
    max-height: 440.65px;
    width: 100%;
  }

  @include responsive(s) {

    .container {
      flex-direction: column;
      gap: 64px;

      li {
        grid-template-columns: 64px 1fr;
        gap: 8px;
      }
    }

    .cards {
      width: 80%;
    }
  }
}