.s-download {
  margin-top: 244px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    >p {
      max-width: 591px;
      margin: 8px 0 32px;
    }
  }

  .phone {
    transform: translateX(104px);

    img {
      width: 100%;
      max-width: 295px;
      max-height: 603px;
    }
  }

  @include responsive(s) {
    margin-top: 10rem;

    .container {
      flex-direction: column;
      gap: 64px;

      .container-icons-stores {
        flex-direction: column;

        .store {
          width: 100%;
        }
      }
    }

    .phone {
      transform: translateX(0);

      img {
        margin: 0 auto;
        width: 80%;
        height: auto;
      }
    }

  }

}