.s-download {
  margin-top: 244px;


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {

    >p {
      max-width: 591px;
      margin: 8px 0 32px;
    }


  }

  .phone {
    transform: translateX(-104px);

    svg {
      width: 295px;
      height: 603px;
    }
  }


}