.s-faq {
  margin-top: 180px;

  .container {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 103px;

  }

  .content {
    height: fit-content;
    position: sticky;
    top: 64px;
    left: 0;
  }

  @include responsive(m) {
    margin-top: 100px;

    .container {
      justify-items: center;
      grid-template-columns: 1fr;
      gap: 80px;

    }

    ul {
      width: 100%;
    }

    .content {
      justify-self: center;
      position: static;
    }


  }

  @include responsive(s) {
    margin-top: 100px;

    .container {
      justify-items: center;
      grid-template-columns: 1fr;
      gap: 32px;

    }

    .content {
      justify-self: center;
      position: static;
    }


  }
}

.question {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-bottom: 1px solid var(--gray-color-400);
  gap: 32px;
  cursor: pointer;
  transition: all .2s;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--gray-color-900);
  }

  p {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .container-button {
    max-width: 28px;
    max-height: 28px;

  }

  span {

    display: block;
    width: 28px;
    background: var(--primary-color-light);
    height: 3px;

    position: relative;
    border-radius: 5px;

    transition: all .3s;

    &::after {
      border-radius: 5px;
      content: '';
      position: absolute;
      height: 28px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: var(--primary-color-light);
      transition: all .3s;
      width: 3px;
    }

  }



  &.open {
    border-bottom: 1px solid var(--primary-color-main);

    p {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    span {
      background: transparent;

      &::after {
        background: var(--primary-color-main);
        transform: translate(-50%, -50%) rotateZ(90deg);
      }
    }

  }

  &:hover {
    &:is(:not(.open)) {
      border-color: var(--primary-color-main);
      padding-bottom: 40px;

      span {
        background: var(--primary-color-main);

        &::after {
          background: var(--primary-color-main);

        }
      }
    }

  }


}