.header {
  .container {
    display: grid;
    grid-template-areas: "l n b";
    grid-template-columns: 136px 1fr 170px;
    padding-top: 24px;
    width: 100%;
  }

  .logo {
    grid-area: l;
  }

  .navigation {
    grid-area: n;

    display: flex;
    align-items: center;

    >ul {
      margin-left: 64px;
      gap: 32px;
      display: flex;
    }
  }

  div {
    grid-area: b;
  }

  .navigation-link {

    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    a {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: var(--gray-color-900);
      padding: 8px 0;

      &:hover {
        color: var(--primary-color-main);
      }
    }

    &.dropdown {

      &::after {
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        background-image: url("../../../assets/images/arrow-down.svg");
      }

      &:hover {

        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }

      }

    }

  }

  @include responsive(s) {

    .container {
      display: flex;
      justify-content: space-between;
    }

    .navigation,
    .button {
      display: none;
    }
  }
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  background: var(--background-color);

  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px 24px;

  border-radius: 4px;
  box-shadow: 0px 64px 26px rgba(50, 74, 17, 0.01), 0px 36px 22px rgba(50, 74, 17, 0.03), 0px 16px 16px rgba(50, 74, 17, 0.04), 0px 4px 9px rgba(50, 74, 17, 0.05), 0px 0px 0px rgba(50, 74, 17, 0.05);
  transition: all .3s;


}

.navigation-mobile {

  transition: all .3s;
  
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: var(--background-color);
  
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    z-index: 99;
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  .navigation-link {
    a {
      font-size: 2.4rem;
    }
  }
}

.menu {

  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 32px;
  gap: 8px;


  span {
    border-radius: 8px;
    width: 100%;
    height: 2px;
    background: var(--gray-color-900);
  }

  &.close {
    position: fixed;
    z-index: 100;
    right: 15px;

    span:nth-child(1) {
      transform: rotate(-405deg) translate(-6px, 7px);
    }

    span:nth-child(2) {
      display: none;
    }

    span:nth-child(3) {
      transform: rotate(405deg) translateY(-50%);
    }
  }

  @include responsive(s) {
    display: flex;
  }
}