$width-card: 340px;
$height-card: 0.63 * $width-card;

.main {
  height: calc(100svh - 80px);
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 50vw;
    height: calc(100% + 80px);
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: translateY(-80px);
    background: linear-gradient(157.9deg, #4C6EF5 -0.59%, #1E325F 113.51%);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    width: 100%;
    max-width: 492px;


    .text-display {
      span {
        color: var(--primary-color-main);
      }
    }

    p {
      margin: 0.8rem 0 2.4rem;
    }
  }

  .container-card {
    perspective: 500px;
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card {
    width: $width-card ;
    height: $height-card ;

    border-radius: 12px;

    transform-origin: center center;
    transform-style: preserve-3d;
    background-color: transparent;


    position: absolute;
    right: 0;


    &.card-frente {
      background-image: url("../../assets/images/card-frente.svg");
      background-size: cover;
      z-index: -1;
      transform: rotate(-9.11deg) translateY(-100px) translateX(-60px);
      transform-origin: center;
      animation: card-move-front 12s ease infinite alternate;

    }

    &.card-verso {
      background-image: url("../../assets/images/card-verso.svg");
      background-size: cover;
      right: 0;
      z-index: -2;
      transform: rotate(-18.1deg);

      animation: card-move-verso 12s ease infinite alternate;

    }
  }

  @include responsive(s) {
    height: calc(100svh - 66px);


    .content,
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &::after {
      display: none;
    }

    .container-card {
      display: none;
    }
  }

}

@keyframes card-move-front {

  0%,
  100% {
    transform: translate3d(0, 0, 1px) rotate(-9deg) rotateX(5deg) translateY(-100px) translateX(-60px);
  }

  50% {
    transform:
      translate3d(0, 0, 1px) rotateY(-9deg) rotateX(5deg) translateY(-110px) translateX(-65px);
  }

}


@keyframes card-move-verso {

  0%,
  100% {
    transform:
      translate3d(0, 0, 1px) rotate(-18deg) rotateX(5deg) translate(0, 0)
  }

  50% {
    transform:
      translate3d(0, 0, 1px) rotate(-9deg) rotateX(5deg) translate(10px, 5px)
  }

}