$width-card: 340px;
$height-card: 0.63 * $width-card;

.main {
  padding-top: 150px;
  position: relative;

  height: 847px;

  &::after {
    content: "";
    width: 50vw;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: translateY(-100px);
    background: linear-gradient(157.9deg, #4C6EF5 -0.59%, #1E325F 113.51%);
  }

  .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }







  .content {
    width: 100%;
    max-width: 492px;


    .text-display {
      span {
        color: var(--primary-color-main);
      }
    }

    p {
      margin: 0.8rem 0 2.4rem;
    }
  }





  .container-card {
    perspective: 500px;
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card {
    width: $width-card;
    height: $height-card;

    border-radius: 12px;

    transform-origin: center center;
    transform-style: preserve-3d;
    background-color: transparent;


    position: absolute;
    right: 0;


    &.card-frente {
      background-image: url("../../assets/images/card-frente.svg");
      background-size: cover;
      // animation: flip-card 5s linear infinite;
      z-index: -1;
      transform: rotate(-9.11deg) translateY(-100px) translateX(-60px);
    }

    &.card-verso {
      background-image: url("../../assets/images/card-verso.svg");
      background-size: cover;
      right: 0;
      z-index: -2;
      transform: rotate(-18.1deg);
      // animation: flip-card 12s 1s linear infinite;

    }
  }




  @include responsive(s) {

    padding-top: 80px;
    height: fit-content;

    .content,
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &::after {
      display: none;
    }

    .container-card {
      display: none;
    }
  }


}
