.s-testimonials {
  background: var(--gradient);
  margin-top: 204px;

  .container {
    padding: 112px 0;
    position: relative;

  }

  .quotation-marks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-light);

    width: 96px;
    height: 88px;
    padding: 32px;

    img {
      width: 32px;
      height: auto;
    }

    &:nth-child(3) {
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }

    &:nth-child(4) {
      bottom: 0;
      right: 0;
      transform: translateY(50%);
    }

  }


  .arrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 8rem;
    height: 8rem;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s;


    &:nth-child(1) {
      left: 0%;

      &:hover {
        transform: translateY(-50%) scale(1.2);
      }
    }

    &:nth-child(2) {
      right: 0;
      transform: translateY(-50%) rotate(180deg);

      &:hover {
        transform: translateY(-50%) rotate(180deg) scale(1.2);
      }
    }


  }


  .container-testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    >p {
      max-width: 1008px;
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 150%;
      text-align: center;
      color: var(--gray-color-000);
    }



    .divider {
      height: 56px;
      width: 4px;
      background: var(--gray-color-000);
    }


    .testimonial-person {
      display: flex;
      align-items: center;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;

      text-align: center;
      text-transform: uppercase;


      color: var(--gray-color-000);


    }

  }



  @include responsive(m) {
    margin-top: 100px;

    .container-testimonial {
      >p {
        font-size: 3.2rem;
      }
    }
  }

  @include responsive(s) {
    margin-top: 10rem;

    .container {
      padding: 8rem 0;
    }

    .container-testimonial {
      >p {
        font-size: 2.4rem;
      }

      .testimonial-person {
        font-size: 1.8rem;

      }
    }

    .arrow {
      transform: none;
      bottom: 0;



      &:nth-child(1):hover {
        transform: scale(1.2);
      }

      &:nth-child(2) {
        transform: rotate(180deg);

        &:hover {
          transform: rotate(180deg) scale(1.2)
        }

      }

    }

    .quotation-marks {

      width: 40px;
      height: 40px;
      padding: 8px;

      img {
        width: 16px;
      }
    }
  }

}