.s-testimonials {
  background: var(--gradient);
  margin-top: 204px;

  .container {
    padding: 112px 0;
    position: relative;

  }

  .quotation-marks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-light);



    img {
      width: 96px;
      height: 88px;
      padding: 32px;
    }

    &:nth-child(1) {
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }

    &:nth-child(2) {
      bottom: 0;
      right: 0;
      transform: translateY(50%);
    }

  }

  .container-testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    >p {
      max-width: 1008px;
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 150%;
      text-align: center;
      color: var(--gray-color-000);
    }



    .divider {
      height: 56px;
      width: 4px;
      background: var(--gray-color-000);
    }


    .testimonial-person {
      display: flex;
      align-items: center;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;

      text-align: center;
      text-transform: uppercase;


      color: #F8F9FA;


    }

  }
}