.download {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {

    >p {
      max-width: 591px;
    }

    >img {
      box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729)
    }
  }

}

.container-icons-stores {
  display: flex;
  align-items: center;
  gap: 16px;

  .store {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F9FA;
    box-shadow: 0px 9px 30px rgba(92, 124, 250, 0.2);
    width: 167px;
    height: 53px;

    p {
      margin-left: 10px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
      color: #232224;

      strong {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;


        color: #5C7CFA;
      }
    }
  }
}