.faq {
  padding: 180px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
}

.list-questions {
  list-style: none;
  max-width: 1040px;
  margin: 64px auto;

  li+li {
    margin-top: 32px;
  }
}

.question {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-bottom: 1px solid #CED4DA;
  gap: 32px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #212529;

  }

  p {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  span {

    display: block;
    width: 28px;
    background: #4C6EF5;
    height: 3px;

    position: relative;
    border-radius: 5px;

    &::after {
      border-radius: 5px;
      content: '';
      position: absolute;
      height: 28px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #4C6EF5;

      width: 3px;
    }

  }

  .container-button {
    max-width: 28px;
    max-height: 28px;

  }

  &.open {

    border-bottom: 1px solid #748FFC;

    p {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    span {
      background: transparent;

      &::after {
        transform: translate(-50%, -50%) rotateZ(90deg);
      }
    }

  }

}