.main {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    width: 218px;
    height: 718px;
    left: 1020px;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: translateX(-90px) translateY(-100px);
    background: linear-gradient(180deg, rgba(92, 124, 250, 0.2) 0%, #5C7CFA 100%);
  }

  .content {
    max-width: 488px;


    p {
      margin: 8px 0 32px;
    }
  }

  img {
    width: 263px;
    height: 414.6px;
    transform: translateX(-177px);
  }


}