*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Sans', sans-serif;
  line-height: 58px;
font-weight: 700;
}
P{
  font-family: 'Poppins',sans-serif;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  display: block;
}