* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Sans', sans-serif;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

img,
svg
 {
  max-width: 100%;
  display: block;
}