.testimonials {
  padding: 148px 0;

  h2 {
    max-width: 518px;
    margin-bottom: 80px;
  }


  .container-testimonial {
    display: flex;
    align-items: center;
    background: #F8F9FA;
    box-shadow: 0px 9px 30px rgba(92, 124, 250, 0.2);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;

    &.active {
      position: relative;
      opacity: 1;
      visibility: visible;
    }
  }

  .testimonial-imagem {
    max-width: 355px;

  }

  .testimonial-content {
    padding: 64px;

    h4 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 150%;
      color: #495057;
    }

    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #868E96;
      display: block;
      margin: 8px 0 32px;
    }

    p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #868E96;
    }
  }


  .container-testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

  }

  .container-list-testimonials {
    position: relative;
  }

  .indicadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;


    .indicador {
      background: #BAC8FF;
      cursor: pointer;
      width: 4px;
      height: 32px;

      &.active {
        height: 64px;
        background: #4C6EF5;

      }
    }
  }


}