.text-display {
  font-size: 4.8rem;
  
  color: var(--gray-color-900);
  
}

.text-title {
  font-size: 4.0rem;
  line-height: 5.8rem;
  color: var(--gray-color-900);
  
}

.text-body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
}

.text-hat {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color:var(--primary-color-main);

}