.text-display {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: var(--gray-color-900);
}

.text-title {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 62px;

  color: #212529;
}

.text-body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-color-600);
}

.text-hat {
  color: var(--primary-color-main);
  font-family: 'Poppins';
  font-weight: 700;
  color: var(--primary-color-main);
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.2em;

}