:root {
  --gradient: linear-gradient(157.9deg, #4C6EF5 -0.59%, #1E325F 113.51%);


  --primary-color-main: #4C6EF5;
  --primary-color-light: #DBE4FF;
  --primary-color-dark: #3B5BDB;


  --gray-color-900: #212529;
  --gray-color-700: #495057;
  --gray-color-600: #868E96;
  --gray-color-400: #D9D9D9;
  --gray-color-000: #F8F9FA;


  --background-color: #FAFDF6;


  font-size: 62.5%;
}