* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
}

button {
  cursor: pointer;
}

.title-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #212529;
}

.title-2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  /* Gray/Gray 9 */
  color: #212529;
}

.body-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
}

.hat-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #748FFC;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: 40px;
  gap: 32px;
  display: flex;
  list-style: none;
}

.header-link a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #212529;
}

.main {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main::after {
  content: "";
  width: 218px;
  height: 718px;
  left: 1020px;
  top: 0;
  position: absolute;
  z-index: -1;
  transform: translateX(-90px) translateY(-100px);
  background: linear-gradient(180deg, rgba(92, 124, 250, 0.2) 0%, #5C7CFA 100%);
}
.main .content {
  max-width: 488px;
}
.main .content p {
  margin: 8px 0 32px;
}
.main img {
  width: 263px;
  height: 414.6px;
  transform: translateX(-177px);
}

.benefits {
  padding: 128px 0;
  display: flex;
  position: relative;
}
.benefits .content {
  position: relative;
  z-index: 2;
}
.benefits h2 {
  max-width: 478px;
}
.benefits .container-cards {
  margin-top: 40px;
  display: grid;
  grid-template-areas: "p  ." "s  t" "c  v";
  gap: 32px;
}
.benefits .container-cards .card {
  display: flex;
  flex-direction: column;
  background: #F8F9FA;
  box-shadow: 0px 9px 30px rgba(92, 124, 250, 0.2);
  padding: 16px 32px 24px 16px;
  max-width: 280px;
  align-items: start;
}
.benefits .container-cards .card strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #4C6EF5;
  margin: 16px 0 32px;
}
.benefits .display-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 100%;
  color: #748FFC;
  position: absolute;
  right: 0;
  bottom: 50%;
  z-index: 0;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0) translate(20%, 30%);
}
.benefits .display-text:hover::after {
  transform: translate(0);
  transition: all 0.2s ease;
}
.benefits .display-text::after {
  content: "Null";
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 100%;
  color: #BAC8FF;
  transform: translate(64px, 64px);
  z-index: -1;
  transition: all 0.3s ease;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.benefits [data-grid=p] {
  grid-area: p;
}
.benefits [data-grid=s] {
  grid-area: s;
}
.benefits [data-grid=t] {
  grid-area: t;
}
.benefits [data-grid=c] {
  grid-area: c;
}
.benefits [data-grid=v] {
  grid-area: v;
}

.app {
  background: #EDF2FF;
}
.app .container {
  display: flex;
  align-items: center;
  padding: 148px 0;
  justify-content: space-between;
}
.app .container .container-imagem {
  position: relative;
}
.app .container .container-imagem .icons {
  position: absolute;
  background: #F8F9FA;
  box-shadow: 0px 14px 5px rgba(0, 17, 66, 0.01), 0px 8px 5px rgba(0, 17, 66, 0.05), 0px 3px 3px rgba(0, 17, 66, 0.09), 0px 1px 2px rgba(0, 17, 66, 0.1), 0px 0px 0px rgba(0, 17, 66, 0.1);
  border-radius: 16px;
  padding: 16px;
}
.app .container .container-imagem [data-icon=security] {
  top: 92px;
  left: -26px;
}
.app .container .container-imagem [data-icon=velocity] {
  right: -20px;
  top: 244px;
}
.app .container .container-imagem [data-icon=transaction] {
  bottom: 20px;
  left: -6px;
}
.app .container .content > p {
  width: 488px;
}
.app .container ul {
  list-style: none;
  margin-top: 48px;
}
.app .container ul img {
  padding: 16px;
  background: #F8F9FA;
  border-radius: 16px;
  box-shadow: 0px 9px 25px rgba(76, 110, 245, 0.1);
  border-radius: 16px;
}
.app .container ul li + li {
  margin-top: 40px;
}
.app .container ul li {
  max-width: 488px;
  display: flex;
  display: flex;
  align-items: center;
}
.app .container ul li p {
  margin-left: 16px;
}

.testimonials {
  padding: 148px 0;
}
.testimonials h2 {
  max-width: 518px;
  margin-bottom: 80px;
}
.testimonials .container-testimonial {
  display: flex;
  align-items: center;
  background: #F8F9FA;
  box-shadow: 0px 9px 30px rgba(92, 124, 250, 0.2);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
}
.testimonials .container-testimonial.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.testimonials .testimonial-imagem {
  max-width: 355px;
}
.testimonials .testimonial-content {
  padding: 64px;
}
.testimonials .testimonial-content h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #495057;
}
.testimonials .testimonial-content span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #868E96;
  display: block;
  margin: 8px 0 32px;
}
.testimonials .testimonial-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #868E96;
}
.testimonials .container-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.testimonials .container-list-testimonials {
  position: relative;
}
.testimonials .indicadores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.testimonials .indicadores .indicador {
  background: #BAC8FF;
  cursor: pointer;
  width: 4px;
  height: 32px;
}
.testimonials .indicadores .indicador.active {
  height: 64px;
  background: #4C6EF5;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download .content > p {
  max-width: 591px;
}
.download .content > img {
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.container-icons-stores {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container-icons-stores .store {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F9FA;
  box-shadow: 0px 9px 30px rgba(92, 124, 250, 0.2);
  width: 167px;
  height: 53px;
}
.container-icons-stores .store p {
  margin-left: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #232224;
}
.container-icons-stores .store p strong {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #5C7CFA;
}

body {
  background: #F8F9FA;
  overflow-x: hidden;
}

.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 32px;
  text-transform: uppercase;
  border: 0;
  color: #F8F9FA;
  background: #4C6EF5;
  box-shadow: 0px 44px 18px rgba(42, 57, 116, 0.01), 0px 25px 15px rgba(42, 57, 116, 0.05), 0px 11px 11px rgba(42, 57, 116, 0.09), 0px 3px 6px rgba(42, 57, 116, 0.1), 0px 0px 0px rgba(42, 57, 116, 0.1);
}

.logo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: #4C6EF5;
}

.container {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  margin-top: 182px;
  background: #EDF2FF;
  padding: 136px 0;
}
.cards .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.cards img {
  height: auto;
  width: 477.44px;
}
.cards a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4C6EF5;
}
.cards span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #748FFC;
}
.cards h2 {
  max-width: 567px;
}
.cards p {
  width: 520px;
  margin: 8px 0 32px;
}/*# sourceMappingURL=styles.css.map */