 @import "reset", "responsive", 'patterns', "typography", "variables", "animations";

 body {
   background: var(--background-color);
   overflow-x: hidden;


 }
 @import "partials/header";
 @import "partials/main";
 @import "partials/cards";
 @import "partials/app";
 @import "partials/benefits";
 @import "partials/testimonials";
 @import "partials/download";
 @import "partials/faq";
 @import "partials/footer";